<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-md-8">
    <h1 align="center"><%= @entry.fields[:title] %></h1>
    <% @entry.categories.each do |category| %>
      <h4>Tags: <span class="label label-primary">
           <%= category.fields[:title]  %>
          </span></h4>
    <% end %>
    <%= markdown @entry.fields[:description] %>
    <img src="<%= @entry.image.image_url %>" class="img">
    <br><br>
    <%= link_to "Edit", contentful_edit_path(:id => @entry.id), class: 'btn btn-success' %>
    <%= link_to "Back", contentful_index_path, class: 'btn btn-primary pull-right' %>
  </div>
  <div class="col-md-2"></div>
</div>
